<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css" media="screen" charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <form class="form newToDos">
      <div class="form-container">
        <input id="toDo" type="text" class="form-input" placeholder="Add to do.">
      </div>
      <button type="button" class="addToDos">+</button>
    </form>
    <div class="toDoEdits" role="group" aria-label="...">
      <button type="button" class="deleteToDos">×</button>
    </div>
    <div class="dropdown toDoPriorities">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Priority
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="highPriority">High</li>
        <li class="mediumPriority">Medium</li>
        <li class="lowPriority">Low</li>
      </ul>
    </div>
    <script type="text/javascript">

    </script>
  </body>
</html>
